{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

    {% block content %}
  <div class="container mt-5">
      <a href="{{path('account_address')}}" class="mb-4">Go Back</a>

      <h5 class="mt-3"> Update addresses</h5>
      
    
   {{form_start(form)}}
   <div class="row">
       <div class="col-12">
           {{form_row(form.name)}}
       </div>
       <div class="col-md-6">{{form_row(form.firstname)}}</div>
       <div class="col-md-6">{{form_row(form.lastname)}}</div>
       <div class="col-md-6">{{form_row(form.company)}}</div>
       <div class="col-md-6">{{form_row(form.address)}}</div>
       <div class="col-md-6">{{form_row(form.postalCode)}}</div>
       <div class="col-md-6">{{form_row(form.city)}}</div>
       <div class="col-md-6">{{form_row(form.country)}}</div>
       <div class="col-md-6">{{form_row(form.phone)}}</div>
      </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
  {{form_end(form)}}
  </div>
</div>
{% endblock %}
