{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

    {% block content %}
        <div class="container my-5 py-5">
            <h1>Change my infos</h1>

            {% for message in app.flashes('error') %}
            <div class="flash-notice alert alert-danger w-50">
                {{ message }}
            </div>
            {% endfor %}

        <hr>
            <div class="shadow p-5">
                {{form_start(form)}}
                    {{form_widget(form)}}
                    <button type="submit" class="btn btn-success">Update</button>
                {{form_end(form)}}

            </div>
          <hr>
          <a href="{{path('account')}}">Back to account</a>
        </div>
    {% endblock %}
