{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}

{% block carousel %}{% endblock %}

{% block content %}
<div class="container marketing">

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert alert-success w-50">
            {{ message }}
        </div>
    {% endfor %}

    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for prod in products %}
            <div class="col-lg-4 home-product">
                <img src="{{asset('uploads/' ~ prod.picture)}}" alt="" width="260" >
                <h2>{{prod.name}}</h2>
                <p>{{prod.description}}</p>
                <p class="badge badge-warning p-3">{{(prod.price /100)|number_format(2)}}€</p>
                <p><a class="btn btn-secondary" href="{{path('product_detail', {'slug': prod.slug})}}" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        {% endfor %}
       
    </div>

    <hr class="featurette-divider">




    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}


{% endblock %}
