{% extends 'base.html.twig' %}

{% block title %}Reset pw!{% endblock %}

{% block content %}

<div class="container p-5">

    {% for message in app.flashes('success') %}
    <div class="flash-notice alert alert-success w-50">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="flash-notice alert alert-danger w-50">
        {{ message }}
    </div>
    {% endfor %}
    
    
    <h1 class="h3 mb-3 font-weight-normal">Reset PW</h1>
    <hr>
        {{form_start(form)}}
            {{form_widget(form)}}
            <input type="submit" value="Reset" class="btn btn-success">
        {{form_end(form)}}
    <hr>
    <p class="text-center">Or <a href="{{path('app_login')}}">Log in</a></p>
</div>
    {% endblock %}
