{% extends 'base.html.twig' %}
{% block javascript %}
     <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Validate Order{% endblock %}

{% block body %}
    {% block content %}
        <div class="container mt-5">
            <h1>Orders Recap</h1>
            <hr>
            <div class="row">
                <div class="col-6">

                    <div class="form-check">
                        <h3>Delivery Address</h3>
                        {{delivery|title|raw}}
                    </div>
                    <div class="form-check">
                        <h3>Carrier</h3>
                        <p>{{carrier.name}}</p>
                        <p>{{carrier.description}}</p>
                        <p>{{carrier.price|number_format(2)}} €</p>
                    </div>
                </div>
                
                <div class="text-center col-md-6 shadow p-3">
                    <b>Order details</b>
                    <hr>
                    {% for prod in fullCart %}
                        <div class="d-flex justify-content-between align-items-center p-3 m-2">
                                    <div class="row align-items-center">
                                        <img src="{{asset('uploads/' ~ prod.product.picture)}}" alt="" width="76">
                                        <p class="ml-2">
                                            {{prod.product.name}} ({{(prod.product.price / 100)|number_format(2)}}€)
                                        </p>
                                    </div>
                                    <div class="">

                                        <p class="align-items-end">
                                            x {{prod.quantity}} 
                                        </p>
                                        <p class="align-middle">{{((prod.product.price * prod.quantity) / 100)|number_format(2)}}€</p>
                                    </div>    
                        </div>  
                        <hr>
                        {% endfor %}
                        <p>
                            <b class="">Products Total : {{(total / 100)|number_format(2)}} €</b>
                        </p>
                        <p>
                            <b>Delivery : {{carrier.price|number_format(2)}} €</b>
                        </p>
                        <p>
                            <b class="bg-dark text-white py-2 px-5">Total : {{((total / 100) + carrier.price)|number_format(2)}} € </b>
                        </p>
                        <a id="checkout-button" class="btn btn-success btn-block">Pay {{((total / 100) + carrier.price)|number_format(2)}} € </a>
                    </div>
                </div>
    {% endblock %}
{% endblock %}

{% block script %}
<script type="text/javascript">

// Create an instance of the Stripe object with your publishable API key

    var stripe = Stripe("pk_test_51HnUYOKpJz9wyF2l2yjsVWZay2iej3D5wzyNalazkiuw8ZFWsMSX35FG222TSbFaI9lP1CkdQAh2iUIxSTZhM4U200duXWCGaT");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("/order/create-session/{{ reference }}", {
            method: "POST",
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            if (session.error == 'order') {
                window.location.replace("{{ path('order') }}");
            }else{
                return stripe.redirectToCheckout({ sessionId: session.id });
            }
        })
        .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
            if (result.error) {
            alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    });

</script>
{% endblock %}
